
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 75%;
    margin: auto;
}

@font-face {
    font-family: test ;
    src: url(../Merriweather_Sans/static/MerriweatherSans-Bold.ttf);
}
html{
    --secColor : #bdcad6 ;
    --mainColor :#f4623a
}

.navbar .container{
    overflow:hidden;
}
.navbar{
    margin-top: 15px;
    position: fixed;
    width: 100%;
}
.logo{
    color: var(--secColor);
    float: left;
    width: 35%;
    text-transform: capitalize;
    font-size: 30px;
    font-weight :bold;

}
.nav{
    text-align: right;
    float: left;
    width: 65%;
    font-size: 20px;
}
@media (max-width: 575.98px) {  
    .logo,.nav{
      text-align: center;
      width: 100%;
    }
    .logo{
        margin-bottom: 10px;
    }
}

.nav .list{
    list-style: none;
}
.list-item{
    display: inline-block;
}
.link-nav{
    color: var(--secColor);
    text-decoration: none;
    text-transform: capitalize;
    margin-right: 10px;
    font-weight :bold;
}
.header-content{
    background-image:url(../img/bg-masthead.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0px -100px ;
}

.header-item{
    text-align: center;
    padding-top: 200px;
}
.main-title {
    font-family: test;
    color: white;
    width: 55%;
    font-size: 45px;
    margin: auto;
    text-transform: uppercase;
    padding :20px
}
@media (max-width: 575.98px) {  
    .main-title {
      font-size: 30px;
      width: 80%;
        
    }
}
.line{
    display: block;
    height: 3px;
    width: 50px;
    background-color : var(--mainColor);
    margin:20px auto;
}

.main-description{
width: 35%;
margin :25px auto ;
font-size: 17px;
font-weight :bold;
text-transform :lowercase;
color: var(--secColor);

}
@media (max-width: 575.98px) {  
    .main-description{
        font-size: 15px;
      width: 80%;
      margin-top: 15px;
        
    }
}
.link {
    font-family: test;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    display: block;
    background-color: var(--mainColor);
    margin: 30px auto;
    width: 150px;
    padding: 19px 5px;
    border-radius: 40px;
    font-weight :bold;
}
.header .overlay{
   background:  linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
    height: 100%;
}
/* end of header */
/* started about */
.about{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 68px;
    background-color: var(--mainColor);
}
.about-title{
    font-family: test;
    color: white;
    font-size: 35px;
    padding-bottom: 7px;
}

.about .line{
    background-color: white;
}
@media (max-width: 575.98px) {  
    .about-title{
        font-size: 20px;
        text-align: center;
      width: 100%;
      margin-top: 15px;
        
    }
}
.about-description {
color: rgba(255, 255, 255, 0.75) ;
width: 50%;
margin: auto;
font-size: 18px;
font-weight :bold;
}
@media (max-width: 575.98px) {  
    .about-description{
        font-size: 13px;
      width: 80%;
      margin-top: 15px;
        
    }
}
.about .link {
    font-family: test;
    background-color: white;
    color: black;
}
/* end of about */
/* start of service */
.service{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.service-items{
    padding-top:45px ;
    overflow: auto;
}
.service-title{
    font-family: test;
    font-size: 30px;
    text-transform: capitalize;

}
.service-item{
    float: left;
    width: 25%;
}
@media (max-width: 575.98px) {  
    .service-item{
      width: 100%;
        margin-bottom: 20px;
    }
}
.service-items .fas ,.service-items .far{
    color: var(--mainColor);
    font-size: 49px;    
}
.service-header{
    padding-top: 21px;
    padding-bottom: 10px;
    font-size: 25px;
    text-transform: capitalize;
}

.service-description{
    font-size : 19px;
    color : #6c757d ;
    width: 86%;
    margin: auto;
}
/* end of service */
/* start of portfolio */
.portfolio-items{
overflow: hidden;

}
.portfolio .portfolio-item{
    float:left ;
    width: 33.33%;
    position: relative;
    
}
@media (max-width: 575.98px) {  
    .portfolio .portfolio-item{
      width: 100%;
        
    }
}
.portfolio-item img{
    display: block ;
}
.portfolio-item .overlay {
    background-color: var(--mainColor);
    position:absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    
}
.overlay-contant{
    text-align: center;
    padding-top: 150px;
}
.overlay-contant .main-overlay {
    color: var(--secColor);
    font-size: 12px;
}
.overlay-contant .sec-overlay {
    color: white;
    
}
.portfolio-item:hover .overlay{
    opacity: 0.8;
}
/* end of portfolio */

/* start download  */
.download{
    padding-top: 120px;
    padding-bottom: 90px;
    background-color: #343a34;
}
@media (max-width: 575.98px) {  
    .download{
        display: none;
    }
}
.download .download-title {
    font-family: test;
    text-align: center;
    color: white;
    margin: auto;
    font-size: 35px;
    text-transform: capitalize;
}

.download .link{
    font-family: test;
    background-color: white;
    text-align: center;
    width: fit-content;
    color: black;
    padding : 24px 36px;
    border : 7px solid gray ;
}

/* end dawnload */
/* start contact  */
.contact{
    padding-top: 100px;
    text-align: center;
}
.contact-title{
    font-family: test;
    text-transform: capitalize;
    font-size: 30px;
}

.contact-description{
    color:#6c757d ;
    font-size: 20PX;
    width: 63%;
    margin: auto;
    text-align: center;
    
}
@media (max-width: 575.98px) {  
    .contact-description{
        font-size: 17px;
        width: 90%;
}}
.contact-items{
    overflow: hidden;
}
.contact-item{
    float: left;
    width: 50%;
    margin:40px auto;
    text-align: center;    
}
@media (max-width: 575.98px) {  
    .contact-item{
        width: 100%;
        float: none;
}}
.fas{
    display: block;
    font-size: 50px;
    color: #6c757d;
    margin-bottom: 15px;
}
.contact-info{
    font-size: 20px;
}
.contact-item .contact{
    color: var(--mainColor);
    font-weight:bold;
}
/* end contact */
/* start footer */
.footer{
    padding:55px;
    margin-top: 20px;
    text-align: center;
    color: #6c757d;
    background-color:#f8f9fa;
}
/* end footer */
@media (max-width: 575.98px) {  
    .section{
        padding-top: 10px;
    }
}